<!-- app/views/order_mailer/payment_confirmation.html.erb -->

<h2>
  <% if @order.buyer.present? %>
    Hi <%= @order.buyer.first_name %> <%= @order.buyer.last_name %>,
  <% else %>
    Hi <%= @order.first_name %> <%= @order.last_name %>,
  <% end %>
</h2>

<p>Thank you for your payment for Order ##<%= @order.id %>.</p>
<p>We’ve notified the seller and will begin preparing your shipment.</p>

<p>
  <strong>Amount Paid:</strong>
  <%= number_to_currency(@order.total, unit: "#{@order.currency} ") %>
</p>
