<div id="<%= dom_id(f.object) %>"
     class="border p-3 mb-2 bg-light rounded variant-block"
     data-saved-value="<%= f.object.value %>"
     data-key="<%= (f.object.id || Time.now.to_i) %>">

    <%= f.hidden_field :id %>

  <div class="row g-2">
    <div class="col-md-4">
      <%= f.label :name, "Type", class: "form-label small" %>
      <%= f.select :name,
          ["Color","Size","Storage","Material","Packaging"],
          { selected: f.object.name },
          class: "form-select form-select-sm variant-type",
          required: true %>
    </div>
    <div class="col-md-4">
      <%= f.label :value, "Option", class: "form-label small" %>
      <%= f.select :value,
          case f.object.name
          when "Color"     then ["Black","Blue","Red","Green","White"]
          when "Size"      then ["XS","S","M","L","XL","XXL"]
          when "Storage"   then ["64GB","128GB","256GB","512GB","1TB"]
          when "Material"  then ["Cotton","Leather","Polyester","Plastic","Metal","Wood"]
          when "Packaging" then ["Box","Bag","Sachet","Envelope","Bottle","Jar"]
          else []
          end,
          { selected: f.object.value },
          class: "form-select form-select-sm variant-value",
          required: true,
          data: { current: f.object.value } %>
    </div>
    <div class="col-md-3">
      <%= f.label :price_modifier, "Price Modifier", class: "form-label small" %>
      <%= f.number_field :price_modifier,
          step: 0.01,
          placeholder: "e.g. 50.00",
          class: "form-control form-control-sm" %>
    </div>


        <div class="col-md-1 d-flex align-items-end">
      <%= f.hidden_field :_destroy, class: "destroy-flag" %>

      <%# 🚨 FIX: Always use the client-side button with the 'delete-variant' class. 
            The JS handles setting the :_destroy flag for persisted records. %>
      <button type="button" class="btn btn-sm btn-outline-danger delete-variant">Delete</button>

    </div>
  </div>

    <div class="mt-2 color-image-actions <%= 'd-none' unless f.object.name == 'Color' %>">
    <div class="variant-images-wrapper">
      <%= f.fields_for :variant_images do |image_fields| %>
        <%= image_fields.hidden_field :id %>
        <%= render "variant_image_fields", f: image_fields %>
      <% end %>
    </div>

    <%# 🚨 FIX: The "Add color image" button for client-side must have the add-variant-image-btn class %>
    <% if @product.persisted? && f.object.persisted? %>
      <%= button_to "➕ Add color image",
            add_variant_image_product_path(@product, id: f.object.id),
            method: :post,
            data: { turbo_stream: true },
            class: "btn btn-sm btn-outline-secondary" %>
    <% else %>
      <button type="button"
              class="btn btn-sm btn-outline-secondary **add-variant-image-btn**">
        ➕ Add color image
      </button>
    <% end %>
  </div>
</div>